<h3><%= @user.firstName%> <%=@user.lastName%>, Welcome to Patient Record System</h3>

<p>
  Please, go to the following link to activate your account
</p>


<%= link_to(' Profile',{:controller=>'user', :action=>'profile', :id=>@user.id, :token=>@user.verifyToken}) %>