<% @pageTitle="Verify"%>
<div class = "container">
  <form>
    <!-- <div class="col-sm-9"> -->
      <div class="row">
        <!-- <div class = "col-sm-8"> -->

         <h4> An email has sent to your email address click on the link available in that email to activate your account.</h4>

        <!-- </div> -->
      </div>

     <!--  <br/>

      <div class = "row">
        <div class = "col-sm-2">
        <span>Enter Code:</span>
        </div>

        <div class= "col-sm-3">
        <input class = "text form-control input-sm" required>
        </div> -->

       <!--  <div class = "col-sm-2">
          <input type="submit" class="btn btn-success" value="Verify"/>
        </div>
      </div>

      <br/> -->
      <div class="row">
        <input type="button" class="btn btn-primary" value="Resend Email"/>

      </div>


      </div>
    </div>
  </form>
</div>