#addPatient{


           margin-top: 5%;
           margin-bottom: 5%;

          max-width: 700px;
          max-height: 1400px;

         background-color : rgba(111,3,146,0.1);

         border-radius:4px;
         border-style:ridge;
         box-shadow: 5px 5px 3px lightgrey;
         border-width:2px;

         padding:20px;
        }

.divider{

          border: 1px solid #B5B5B5;
}

#patientpic{

          max-width: 100px;
}