#login{

           margin-top: 10%;
           margin-bottom: 5%;

          max-width: 300px;
          max-height: 400px;

         background-color : rgba(111,3,146,0.1);

         border-radius:4px;
         border-style:ridge;
         box-shadow: 5px 5px 3px lightgrey;
         border-width:2px;

        padding:20px;
        }

.divider{

  border-color: #928D8D;
  border-width: initial;
}