/****************For Sign Up**********/
 #signUp{

           margin-top: 5%;
           margin-bottom: 5%;

          max-width: 700px;
          max-height: 2000px;

         background-color : rgba(111,3,146,0.1);

         border-radius:4px;
         border-style:ridge;
         box-shadow: 5px 5px 3px lightgrey;
         border-width:2px;

        padding:20px;
        }


.divPlace{

  float: left;
 /* white-space: nowrap;*/
}

.floatClear{

  clear: left;
 /* white-space: nowrap;*/
}

#passLength{

  font-size: 12px;
}

#divFirstName{

  margin-right:80px;
}

#divPassword{

   margin-right:10px;
}

#divAddress{

  margin-right:150px;
}

#registerButton{

 margin-left: 35%;
 margin-bottom: 5%;
}

#profilePic{
        max-width: 130px;
        float: right;
        margin-right: 30px;
}

.divider{

  border-color: #928D8D;
  border-width: initial;
}